{
  "extends": [
    "eslint:recommended",
    "plugin:wdio/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "line-break-style": 0,
    "semi": [
      "error",
      "always"
    ],
    "no-console": [
      "warn",
      {
        "allow": [
          "error"
        ]
      }
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "no-unused-vars": [
      "warn"
    ]
  },
  "globals": {
    "$": true,
    "$$": true,
    "browser": true
  },
  "plugins": [
    "wdio",
    "import"
  ],
  "env": {
    "jasmine": true
  }
}